html{
    box-sizing: border-box;
}
.flex-centered{
    display: flex;
    align-items:center;
    justify-content:center;
}
main{
    background-color:gray;
    padding:3rem;
    flex-direction:column;
}

button{
    border:solid 1px black;
    background-color:white;
    padding:1rem 2rem;
    transition:all .5s;
}
section{
    margin-bottom:1rem;
}

.output{
    width: 20rem;
    height: 3rem;
    border:solid 1px black;
    margin-bottom:1rem;
    background-color:white;
}
button:hover{
    background-color: rgb(203, 202, 202);
}